/***menu-nav**/

/*MENU CONTAINER
Weï¿½ll now apply some basic CSS styling. For the menu container, we define a fixed width that we center by setting the left and right margins to ï¿½autoï¿½.
*/
/* Holly Hack for IE \*/
* html #menu  li { float: left; height: 1%; }
* html #menu  li a { height: 1%; }
/* End */
#menu {list-style:none;margin:0px auto 0px auto;height:36px;padding:0px 0px 0px 0px;}
/*//*/

/*Styling MENU ITEMS*/
#menu li {float:left;display:block;text-align:center;position:relative;padding: 4px 10px 4px 10px;margin-right:20px;margin-top:7px;border:none;}
/*HOVER MENU*/
#menu li:hover {border: 1px solid #777777;padding: 4px 9px 4px 9px;	/* Background color and gradients */background: #FFFFFF;/* Rounded corners */	-moz-border-radius: 5px 5px 0px 0px;-webkit-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;z-index:200;}
/*// HOVER*/
/*FOR LINKS*/
#menu li a {font-family:Arial; font-weight:bold; color: #EEEEEE;display:block;outline:0;text-decoration:none;text-shadow: 1px 1px 1px #000;}
#menu li:hover a {color:#161616;text-shadow: 1px 1px 1px #ffffff;}
/*we need a way to indicate if thereï¿½s a drop down or not by using a simple arrow image as background, it will be positioned on the right using padding and the top margin will align to it properly. On hover this top margin will be set to 7 pixels instead of 8 as we have an additional border appearing on mouse hover (otherwise, the arrow would be pushed 1 pixel down on hover) :*/
#menu li .drop {padding-right:11px;background:url("../images/drop-status.png") no-repeat right 5px;}
#menu li:hover .drop {background:url("../images/drop.png") no-repeat right 4px; }
/*Drop Down Containers
Containers with different sizes will hold the entire drop down content. Iï¿½ve chosen the tag names according to the number of columns they will contain.
To hide the drop downs, weï¿½ll use absolute positioning with a negative left margin :
*/
.dropdown_1column,
.dropdown_2columns ,
.dropdown_3columns,
.dropdown_4columns,
.dropdown_5columns {
    margin:4px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:none;
    *border: 1px solid #efefef;
    border-top:none;
    z-index:9999 !important;

    /* Gradient background */
    background: #FFFFFF;
    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    -moz-box-shadow:0 8px 7px 0 #aaaaaa;-webkit-box-shadow:0 8px 7px 0 #aaaaaa;box-shadow:0 8px 7px #aaaaaa;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
}
.position-absolute-1{ position:absolute; right:-10px; bottom:-15px; z-index:0; display:block}
.bg-drop-1{ background:white url(../images/thoi-trang.png) no-repeat right 0; height:420px}
.bg-drop-2{ background:white url(../images/me-be.png) no-repeat right 0; height:420px}
.bg-drop-3{ background:white url(../images/dinhduong.png) no-repeat right 0; height:420px}
.bg-drop-4{ background:white url(../images/hoa-quatang.png) no-repeat right 0; height:420px}
.bg-drop-6{ background:white url(../images/sua.png) no-repeat right 0; height:420px}
.bg-drop-5{ background:white url(../images/khuyenmai.png) no-repeat right 0; height:300px}
/*we need to specify the width for each one :*/
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

/*And to show the drop downs on mouse hover, weï¿½ll simply use :*/
#menu li:hover .dropdown_1column,
#menu li:hover .dropdown_2columns,
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:0px;
    top:auto;
}
#menu li .dropdown_4columns ul li a{ font-weight:normal; color:#646464;}



/*Creating the Drop Down Container Columns*/
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:100px
}
.col_1 {/*width:130px;*/}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

/*Aligning to the Right*/
/*Now, letï¿½s see how we can align our menu and the drop down content to the right edge of the navigation bar; not only the menu item, but the drop down container should also be changed.

To accomplish this, weï¿½ll add a new class called .menu_right to the parent list item, so we reset the right margin and float it to the right :*/
#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu .menu_left {
    float:left;
    margin-right:0px;
}
/*Next, letï¿½s see the drop down. In the previous CSS code, rounded corners were applied to all corners except the left-top one to, in order to match the background of the parent menu item. Now we want this drop down to stick to the right edge of the parent menu item. So, weï¿½ll overwrite the border-radius values with a new class called .align_right, and set the top-right corner to 0.*/
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;

}
#menu li .align_right a{font-weight:normal;}
/*Last but not least, we want to make the drop down appear on the right; so weï¿½ll use our new class and reset the left value, then make it stick to the right :*/
#menu li:hover .align_right {
    left:auto;
    right:0px;
    *right:-4px;/* fix position when hover on right edge tab*/
    top:auto;
}


/*Adding and Styling Content*/
#menu p, #menu h2, #menu h3, #menu ul li {
    font-family:Tahoma, Geneva, sans-serif;
    line-height:21px;
    font-size:12px;
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    margin:0;
    padding-bottom:0;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}
/*We can apply a nice blue color to the links within the drop down :*/
#menu li:hover div a {
    font-size:12px;
    color:#646464
}
#menu li:hover div a:hover {
    color:#ff670f;
}


.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}


/*Styling Images*/
.imgshadow { /* Better style on light background */
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}

/*And to create a paragraph with an image on the left :*/
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}


/*Text Boxes

To highlight some content, here is an example of a dark box with rounded corners and a subtle inset shadow :*/
#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}


/*Lists Stylings

Letï¿½s revamp our lists; we have to reset some styling such as the background color or the borders which are used in the navigation bar :*/
#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 5px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    /*width:130px;*/
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}


/*Restylings Lists

And to finish, hereï¿½s another way to style your lists using, again, some CSS3 :*/
#menu li .greybox li {
    background: #FFFFFF;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}
/*=================================/////////============*/

/*======= login =======*/
.logined{margin:-13px 0 0 0; padding:0; width:170PX/*UPDATE TO NOT WRAP INTO CART, PUT DOWN A ARROW*/}
.logined li{ display:block;position:relative;padding: 10px 10px 10px 10px; margin-top:0px; text-align:left;}
.logined li a { font-weight:bold; color: #000;display:block;outline:0;text-decoration:none;}
.logined li a strong{ display:block; font-size:0.8em}
.logined li a span.avata-user{ width:35px; height:35px; border:1px solid #eee; float:left; margin-right:7px; background:url(../images/avata.png) no-repeat; position:relative}
.avata-user-b{ width:70px; height:70px; border:1px solid #eee; display:block; background:url(../images/avata.png) no-repeat;}
.logined li:hover{z-index:9999; background:#2f3842;padding:10px;border: 1px solid #2f3842;	-moz-border-radius: 5px 5px 0px 0px;-webkit-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;}
.logined li:hover a {color:#fff;text-shadow: 1px 1px 1px #000; padding-bottom:15px}
.logined .col-logined-2 ul li a{ padding-bottom:0}/* destroy padding-bottom*/
.col-logined-1{ width:82px;}
.col-logined-2{ width:130px;}
.col-logined-1,.col-logined-2{ float:left;  display:inline; position:relative}
/* STYLE FOR LOGINED */
.logined li ul {list-style:none;padding:0;margin:0 0 12px 0;}
.logined li ul li {font-size:11px;line-height:24px;position:relative;text-shadow:none;padding:0;margin:0;float:none;text-align:left;width:130px; display:block}
.logined li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;

}
.logined li:hover div a {
    font-size:1em;
    color:#646464;
    text-shadow: 1px 1px 1px #FFFFFF;
    font-weight:normal;
}
.logined li:hover div a:hover {
    color:#029feb;
}
/*tooltip*/
.tooltip{position: relative;color: #fff;outline: none; font-size:11px}
.tooltip em{visibility:visible;position: absolute; bottom: 21px;left: 0%;z-index: 999;margin-left: 7px;padding: 2px;-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;text-shadow: 0 1px 0 rgba(0,0,0,.4); }
.tooltip:hover{border: 0; /* IE6 fix */}
.tooltip:hover em{visibility: visible;}
.tooltip em:before,
.tooltip em:after{content: "";position: absolute;z-index: 1000;bottom: -3px;left: 50%;margin-left: -3px;  border-top: 3px solid #ddd;border-left: 3px solid transparent;border-right: 3px solid transparent;        border-bottom: 0;  }
.tooltip em:before{border-top-color: #ccc;bottom: -3px;}
/* red */
.red-tooltip em { border-color: #dc5e4c;background-color: #f5010d;}
.red-tooltip em:after{  border-top-color: #cc331e;}
.red-tooltip em:before{ border-top-color: #dc5e4c;}


/***-------------------------reset-------------------------------------**/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}*/
/***grid-pr**/
@charset utf-8;
.col-pr1-sc-bt{margin-right:10px;margin-left:10px}
.col-pr3-sc-bt{margin-right:0}
.col-pr4-sc-bt{display:none!important}
.col-label-1-cata,.col-label-2-cata,.col-label-3-cata,.col-label-4-cata{width:149px;overflow:hidden;border:1px solid #e5e5e5;margin-right:10px;margin-bottom:10px}
.col-label-6-cata,.col-label-7-cata,.col-label-8-cata,.col-label-9-cata{width:149px;overflow:hidden;border:1px solid #e5e5e5;margin-right:10px}
.col-pr1,.col-pr2,.col-pr3,.col-pr5,.col-pr6,.col-pr7,.col-pr9,.col-pr10,.col-pr11,.col-pr2-sc-bt,.col-pr5-sc-bt,.col-pr6-sc-bt,.col-pr7-sc-bt,.col-video1,.col-video2,.col-video3,.col-video4,.col-video6,.col-video7,.col-video9,.col-video10,.col-video11{margin-right:10px}
.col-label-1,.col-label-2,.col-label-3,.col-label-4,.col-label-5,.col-label-7,.col-label-8,.col-label-9,.col-label-10,.col-label-11{width:161px;border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5}
.col-label-6,.col-label-12{width:171px;border-bottom:1px solid #e5e5e5}
.col-pr1-rela,.col-pr2-rela,.col-pr3-rela,.col-pr4-rela,.col-pr1-promo,.col-pr2-promo,.col-pr3-promo,.col-pr4-promo,.col-pr6-promo,.col-pr7-promo,.col-pr8-promo,.col-pr9-promo,.col-pr11-promo,.col-pr12-promo,.col-pr13-promo,.col-pr14-promo{margin-right:8px}
.col-label-1-cata-submain,.col-label-2-cata-submain,.col-label-3-cata-submain,.col-label-4-cata-submain,.col-label-6-cata-submain,.col-label-7-cata-submain,.col-label-8-cata-submain,.col-label-9-cata-submain{width:161px;border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;text-align:right}
.col-label-5-cata-submain,.col-label-10-cata-submain{width:140px;border-bottom:1px solid #e5e5e5;border-right:none;overflow:hidden;text-align:right}
.col-label-5-cata,.col-label-10-cata{width:149px;overflow:hidden;border:1px solid #e5e5e5;margin-bottom:10px}
/***cata**/
@charset "utf-8";
/* CSS cata 123 structure */
#left-cata{ width:182px}
#right-cata{ width:786px}
#left-cata{ float:left}
#right-cata{float:right}
.brand-cata {padding:15px 10px;clear:both;overflow:hidden; width:764px;height:44px;border-left:1px solid #cfcfcf; border-bottom:4px solid #ededed;border-top:1px solid #cfcfcf;border-right:1px solid #cfcfcf;position:relative; margin-bottom:10px}
#ThuongHieu_outer_cata {width: 744px;height: 140px;margin: 0 auto;background: none;display:block;position:relative;padding: 0;}
/* the width is set to show the number of thumbnails that will be visible */
#ThuongHieu_inner_cata {position:relative;overflow:hidden;width: 744px; /* set a display width to make the slider look good in case js is disabled */margin:0px auto 0px;}
.banner-sub-cata {text-align:center; margin-bottom:10px; line-height:197px; overflow:hidden}
.banner-sub-cata img{ vertical-align:middle; height:201px}

/*list-banner-when higher screen*/
.sub-banner-cata-m{ width:146px; display:none; float:right}



/*list-product*/
.list-pr-arrow{ overflow:hidden; margin-bottom:0px; border-bottom:1px solid #eee; padding-bottom:10px;}
.list-pr-arrow .products{ padding-bottom:0}
.text-product-list {display:block; float:left; width:380px; margin-left:10px;}
.text-product-list a {font-size:14px;font-weight:bold;line-height:30px;}
.text-product-list p {line-height:18px; margin-bottom:10px; font-size:0.9em}
.colum2-right-list{ float:right; width:200px}
.its {float:right;display:block;text-align:center;}
.its p span {color:#646464;font-size:14px;font-weight:bold;line-height:30px;}
.price {float:right;display:block;text-align:center; margin-right:50px}
.price p {color:#848484;font-size:11px;text-decoration:line-through;}
.price p span, strong span {text-decoration:underline;}
.price strong {color:#ac0404;font-size:14px;line-height:30px;}
.bg-bottom-title {
    height:3px;
    overflow:hidden;
    __background-image: url(../images/bg-title-listpro.gif);
    __background-repeat: repeat-x;
    __background-position: left top;
    display:block;
}
/*.cata-menu h2,#right-cata h2{height:32px;padding-left:10px;color:#000;line-height:32px; font-weight:bold; position:relative;background:#efefef;border-top-right-radius:5px; border-top-left-radius:5px; border:1px solid #ffffff;font-size:1em; border-bottom:1px solid #eee }*/
.note-product {border:2px solid #eee;height:46px; overflow:hidden;margin-bottom:10px;padding:7px;color:#646464;line-height:16px;/*16*/}
.note-product img {height:45px;/*16*/float:left;display:block;margin-right:10px;}
.info_com{}
.info_com strong{ font-weight:bold; font-size:1.1em}
/*MenuSub_Hor*/
ul.MenuSub_Hor {background-color:#f8f8f8;overflow:hidden;height:24px;font-size:11px;border-right:2px solid #252a30; border-bottom:2px solid #252a30; border-left:2px solid #252a30;}
ul.MenuSub_Hor li {float:left;line-height:24px;padding:0 33px;}
ul.MenuSub_Hor li.active { background:#efefef;width:170px;padding:0;height:24px;padding-left:12px;color:#0058ad;font-weight:bold;line-height:24px; border-right:1px solid #dcdbdb}
ul.MenuSub_Hor a {line-height:24px; color:#646464}
ul.MenuSub_Hor a:hover{ color:#ff7e57}
.cata-menu li{ list-style:none; position:relative}
.cata-menu { line-height:32px; border:1px solid #eee; margin-bottom:10px; padding-bottom:10px;border-top-right-radius:5px; border-top-left-radius:5px;}
.cata-menu li{ padding-left:10px}
.cata-menu li,.cata-menu li a{ display:block}
.cata-menu li a{ line-height:1.3em; padding:0 10px; background:url(../images/maker2.gif) no-repeat 0px 5px; color:#646464; margin-bottom:10px}
.cata-menu a:hover{ color:#ff7e57}
.cata-menu a.selected{font-weight:bold;color:#f99517;}

.other-news li{ list-style:none; position:relative}
.other-news li{ padding-left:10px}
.other-news li,.other-news li a{ display:block}
.other-news li a{ line-height:1.3em; padding:0 10px; background:url(../images/maker2.gif) no-repeat 0px 5px; color:#646464; margin-bottom:10px}
.other-news a:hover{ color:#285DAB}
.other-news a.selected{font-weight:bold;color:#f99517;}

ul.navigator {font-size: 11px;height: 24px;margin-bottom: 5px; margin-left: 0px;}
ul.navigator li {float:left;display:block;background-image: url("../images/arrow-next.gif");background-repeat: no-repeat;padding-left:19px;margin-right:6px; background-position:0 10px; line-height:24px}
ul.navigator li a.active {font-weight:bold;color:#0058ad;}
ul.navigator li.noarrow {background-image:none;padding-left:0;}
.list-camket,.list-tv-mh {list-style-type:none;font-size:11px;line-height:1.6em;padding-top:0px;padding-bottom:7px;overflow:hidden; text-transform:uppercase;}
.list-camket li:last-child{ padding-bottom:0px;}
.list-camket li,.list-tv-mh{ margin-bottom:5px}
.list-camket li span{ display:block}
.list-camket li div{display:block;padding-left:37px; line-height:16px;background:url(../images/camket-ico.png) no-repeat}
.list-camket li div.camket1{ background-position:0 -36px }
.list-camket li div.camket2{ background-position:0 0 }
.list-camket li div.camket3{ background-position:0 -72px }
.inform-normal{ border:1px solid #f7951d; padding:10px}
.ui-list-extra{ display:inline; float:left; width:35px; height:35px;background:url(../images/camket-supplier.png) no-repeat; margin-right:7px}
.ui-cod-extra{ background-position:0 -58px }
.ui-camket-supplier{ background-position:0 0 }
.list-tv-mh li{margin-bottom:10px}
.list-tv-mh li:last-child{ margin-bottom:0}
.list-tv-mh li div{display:block;padding-left:30px; line-height:20px; background:url(../images/icon-hotline.png) no-repeat }
.list-tv-mh li div.tvmh-phone{ background-position:0 0; font-weight:bold; font-size:1.4em}
.list-tv-mh li div.tvmh-yahoo{ background-position:0 -27px;}
/**/
ul.CatList {z-index:-1;clear:both;}
ul.CatList li {float:left;height:27px;line-height:27px;padding-left:10px;margin-right:10px;position:relative;border:1px #d7d6d6 solid;background-image: url(../images/bg-select.gif);background-repeat: repeat-x;background-position: left top;}
ul.CatList li.FieldSearch{width:240px;float:left;background:white; }
ul.CatList li.FieldSearch input[type=text]{outline:0; border:0; width:200px; color:#cbcbcb; margin:0; padding:0;height:27px; *line-height:27px; background:tranparent !important;*margin-top:-1px}
ul.CatList .searchIcon {width:19px; height:12px; background:transparent url(../images/search.gif) no-repeat 60% 50%; position:absolute; right:5px; top:7px; outline:none; border: transparent none;overflow:visible; border-left:1px solid #cbcbcb; padding-left:5px; cursor:pointer}
#list-star-arrow li {border-top: 1px solid #d0dbe9;font-size: 11px;line-height: 18px;list-style-type: none;overflow: hidden;padding-bottom: 7px;padding-top: 7px;}
.icon_star {background: url("../images/star-title.png") no-repeat scroll 0 0 transparent;float: right;height: 16px;margin-right: 10px;margin-top: 7px;width: 16px;}
#list-star-arrow li span {display: block;height: 24px;line-height: 26px;padding-left: 26px;}
#list-star-arrow li span.star1 {
    background: url("../images/star_v-01.gif") no-repeat scroll 0 0 transparent;
}
#list-star-arrow li span.star2 {
    background: url("../images/star_06.gif") no-repeat scroll 0 0 transparent;
}
#list-star-arrow li span.star3 {
    background: url("../images/star_04.gif") no-repeat scroll 0 0 transparent;
}
#list-star-arrow li:last-child {padding-bottom: 0;}
#list-star-arrow li:first-child {border-top: medium none;padding-top:0;}
.list_video_thumbnail{ width:149px; position:relative;}
.list_video_thumbnail{float:left}
.thumb-video-in{ width:147px;border:1px solid #fff; cursor:pointer; margin-bottom:5px}
.thumb-video-in:hover{border:1px solid #f99517}
.thumb-video-in span{ position:absolute; width:60px; height:50px; top:50px; left:45px; display:block}
.thumb-video-in .video{ background:url(../images/video.png) no-repeat 0 0px}

H4.SUPPORT_TITLE_normal{ font-size:1EM; color:#0058ad; margin-bottom:5px}
.BOX_DETAIL_CS h3{background: url(../images/plus.gif) 0px 9px no-repeat;margin: 0 0 5px 0;padding: 5px 5px 5px 17px;cursor: pointer;color: #646464;border-radius: 5px;text-align: left;font-size:0.9em;font-weight:normal; line-height:18px;}
.BOX_DETAIL_CS h3.active{background: url(../images/minus.gif) 0px 9px no-repeat;}
.zone{margin: 5px 0 5px 0;padding: 5px;border: 1px solid #eeeeee;border-radius: 5px;line-height:16px;overflow:hidden;  color:#929292}
.zone img{ max-width:100%;}

/***detail-product**/
.detail-imgproduct {float:left;display:block;width:382px;}
.detail-text { padding-left:395px;display: block;}
.innner-block-parent{ position:relative}
.inner-img-detail {width:380px;text-align:center; border:1px solid #eee; /*line-height:25em*/}
.detail-text h2{ font-size:1.2em; line-height:1.1em;}
.inner-img-detail img{ vertical-align:middle; height:475px;max-width:100%;}

/* box light for deal of supplier*/
.box-tbl-light { border:5px solid #f8f8f8;margin-top:0px; margin-left:420px}
.box-tbl-light-padd{  line-height:18px; color:#646464; padding:10px 10px 10px 10px; border:1px solid #bfc0c1; background:white;position:relative;}
/* box model size*/
.tbl-col1-pr h2,.box-tbl-light-padd h2{ margin:0 0 7px 0; font-weight:normal; padding:0; color:#000}
.tbl-col1-pr {border-left: 4px double #F3DDC3;font-size: 1em;margin-bottom: 10px;margin-top: 5px; padding:10px; width:380px; float:left}
.tbl-col1-pr h1 {font-size: 1em;margin: 0 0 7px 0;padding:0;}
.tbl-col1-pr p {background: url("../images/right-for-model.png") no-repeat scroll 0 2px transparent;color: #646464;font-size: 0.9em;line-height: 18px;margin: 0;padding: 0 10px 0 17px;}
.tbl-col1-pr strong{ font-weight:bold}

/*tab-detail*/

.tab-detail{ border-bottom:3px solid #252a30}
.tab-detail li{ position:relative}
.tab-detail li,.tab-detail li a{ display:inline-block;*display:inline;_height:1em; zoom:1;}
.tab-detail li a { font-weight:bold;font-size:1.2em; padding-bottom:10px; margin-right:10px; padding-left:10px; padding-right:10px; padding-top:10px; color: #000;font-family: "helvetica neue", helvetica, arial, sans-serif;text-align: center;}
.tab-detail li a.selected{background:#181c21 url(../images/bg-tab-dt.gif) repeat-x 0 0;border: 1px solid #252a30; color:#fff; text-shadow: 0px -1px 1px rgba(0, 0, 0, .8); border-top-left-radius:3px;border-top-right-radius:3px;}
.tabcontent{display:none;}
@media print {.tabcontent {display:block !important;}}
.detail-content{ padding:10px; border:1px solid #eee;}
/* carolel */
.jCarouselLite {float: left;width:382px;margin:0px auto;text-align:center;}
.thumb-detail{margin:0; padding:0; width:382px}
.thumb-detail li{position:relative; list-style:none; display:inline; float:left; margin:7px 7px}

.img-thumb {width: 60px;height: 75px;display: block;margin: 2px 0px; border:1px solid #fff}
.img-thumb:hover{border:1px solid #f99517}
/*
.prev {background-image: url(../images/button-back-detail.gif);background-repeat: no-repeat;background-position: left top;height:45px;width:10px;float:left;display:block;margin:28px 0;}
.next {background-image: url(../images/button-back-detail.gif);background-repeat: no-repeat;background-position: right top;height:45px;width:10px;float:right;display:block;margin:28px 0;}
*/
/* style for structure of detail 123 */
.detail-content{ font-size:86%}
.detail-content{ line-height:18px; padding-bottom:20px}
.detail-content h1{ font-size:1.2em; margin-bottom:10px; color:#000}
.detail-content h2{ font-size:1.1em;margin-bottom:10px; color:#333}
.detail-content h3{ font-size:1em;margin-bottom:0px; color:#666666; padding-left:0}
.detail-content h4{ font-size:0.9em;margin-bottom:5px; color:#999999}
.detail-content p{ margin-bottom:10px}
.detail-content ol li,.detail-content ul li{ list-style:decimal inside; padding:5px 0 0px 0;line-height:20px; color:#e47911;}

.detail-content a[href$='.mov'] {padding-left: 20px;background: url(../images/icon-detail/video.png) no-repeat left;}
.detail-content a[href ^="mailto:"] {padding-left:20px;background: url(../images/icon-detail/email.png) no-repeat left;}
.detail-content	a[href$='.rss'],.detail-content a[href$='.atom'] { padding-right: 17px;background: url(../images/ui-icons_469bdd_256x240.png) no-repeat 0 0;}
.detail-content a[href *="username"] {padding-right: 17px;background: url(../images/ui-icons_469bdd_256x240.png) no-repeat 0 0;}


.detail-content table{ border-collapse:collapse; border:1px solid #ededed; margin-bottom:10px;text-align: left;}
.detail-content th{padding: 12px 17px 12px 17px;font-weight:bold;font-size: 12px;color: #646464;border-bottom: 1px dashed #efefef;}
.detail-content td{padding: 7px 17px 7px 17px;color: #646464; font-size:11px}
.detail-content tbody tr:hover td{color: #339;background: #d0dafd;}


/*style click label popup*/

#myPopup {width: 260px;display: none;position: fixed;z-index: 2;margin-top:20px;	-moz-box-shadow: 2px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 2px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=145, Strength=3); border:1px solid #ede4d9}
#myPopup h1{background:#ff911a; font-size:1.2em; line-height:25px; padding-left:10px; color:#fff}
#popupClose {font-size: 16px;line-height: 14px;right: 6px;top: 4px;position: absolute;font-weight: bold;display: block;background-image: url(../images/bt-close.png);background-repeat: no-repeat;width:18px;height:18px;padding:5px 2px;}
.inner-infor {background:#ffffff url(../images/bg-btn.jpg) repeat-x 0 bottom;width:240px;padding:10px;overflow:hidden;}
/***promo**/
.get-prom-email{clear:both;overflow:hidden;border:1px solid #eee;margin-bottom:15px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:5px 15px}
.get-prom-email p{font-weight:700;line-height:25px}
.get-prom-email input{width:215px;float:left;font-size:11px;display:block;background-color:#edf7ff;height:20px;line-height:20px;color:#646464;border-left:1px solid #a0a0a0;border-top:1px solid #a0a0a0;margin-bottom:5px;padding:0 5px}
.get-prom-email a{text-align:center;display:block;color:#fff;background-color:#faa118;width:40px;height:22px;line-height:22px;font-weight:700;font-size:11px;float:left}
.get-prom-email a:hover{text-decoration:none}
.get-prom-email span{font-size:11px;color:#646464;line-height:14px;overflow:hidden;clear:both}
.list-label-promo li{padding-bottom:10px;border-bottom:1px solid #eee;text-align:center}
.list-label-promo li:last-child{border-bottom:none;padding-bottom:0}
.promo-hot{margin:0;padding:0}
.promo-hot h3{color:#e47911;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px}
.promo-hot-slide{position:relative;margin:0;padding:0 20px}
.promo-hot-slide li{_height:100px;display:inline;zoom:1;margin-right:7px;list-style:none;border:1px solid #eee;width:298px;height:100px}
.promo-hot-slide li:nth-child(5n){margin-right:0}
.left-arrow-promo{background:url(../images/arrow-pro-slide.png) no-repeat left top;width:12px;height:25px;display:block;position:absolute;left:0;top:35%}
.left-arrow-promo:hover{background:url(../images/arrow-pro-slide-hover.png) left top}
.right-arrow-promo{background:url(../images/arrow-pro-slide.png) no-repeat right top;width:12px;height:25px;display:block;position:absolute;right:0;top:35%}
.right-arrow-promo:hover{background:url(../images/arrow-pro-slide-hover.png) right top}
.attach-gift{width:58px;height:55px;position:absolute;left:0;top:0;background:url(../images/attach-gift.png) no-repeat left top}
/***left-support**/
#list-knowledge li{list-style:decimal inside;line-height:20px;color:#e47911;font-size:12px;padding:5px 0 0}
#list-knowledge SPAN{color:#666;line-height:18px;font-size:12px;padding-left:0;padding-bottom:1em;margin:0}
.SUPPORT_TITLE{font-size:1.2em;color:#e47911;}
.accor_menu{border:1px solid #eee;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0 0 10px;padding:0 0 10px}
.accor_menu a.menuitem{display:block;position:relative;width:auto;font-size:.8em;padding-left:10px;text-decoration:none;color:#000!important;background:#efefef;font-weight:700;line-height:32px;height:32px}
.accor_menu a.menuitem:visited,.accor_menu .menuitem:active{color:#848484}
.accor_menu a.menuitem .statusicon{position:absolute;top:5px;right:5px;border:none}
.accor_menu div.submenu{background:#fff}
.accor_menu div.submenu ul{list-style-type:none;margin:0;padding:0}
.accor_menu div.submenu ul li{border-bottom:none}
.accor_menu div.submenu ul li a{display:block;color:#0058ad;text-decoration:none;line-height:18px;font-size:12px;padding:7px 0 0 10px}
.accor_menu div.submenu ul li a:hover{color:#f99517;text-decoration:underline}
.accor_menu div.submenu ul li a.selected{font-weight:700;color:#f99517}
.accor_menu div.submenu ul li:last-child{padding-bottom:0}
.submenu li ul li a{margin-left:10px;background:url(../images/arrow_left_support.gif) no-repeat 0 12px;color:#646464!important}
.submenu li ul li a:hover{color:#f99517!important}
#icon_upDown{width:16px;height:16px;background:url(../images/up_down.png) no-repeat 0 0;float:right;display:block;margin-right:5px;margin-top:7px}
#icon_upDown.active{background:url(../images/up_down.png) no-repeat 0 -16px;display:block}
.support_tbl{border:1px solid #bfc0c1;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0 0 10px;padding:0 0 10px}
.support_tbl,.vote-rate{background:#ededed}
.support_tbl .titleTab,.vote-rate .titleTab{padding-left:10px;height:30px;line-height:30px;color:#000;font-weight:700;font-size:.9em}
.padd_1{background:#f9f8f8;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;display:block;margin:0 5px;padding:10px}
.padd_1 h3{font-size:1.5em;color:#646464;padding-left:0}
.padd_1 h4{font-weight:700;color:#646464;font-size:1.1em;padding-top:10px}
.padd_1 small{text-align:center;padding-left:30px;line-height:16px;font-size:.8em;color:#646464}
.padd_1 p{font-size:.7em;color:#646464;line-height:18px;padding-left:0}
.padd_1 .TIME_SP{color:#2c8eed;margin-top:2px;padding-left:7px;padding-bottom:2px}
.padd_2{background:#FFF;margin:0 5px;padding:0 10px 10px}
.padd_3{border:1px solid #cae2f4;margin-bottom:20px;line-height:18px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding:10px}
.padd_3 p{margin-bottom:10px}
.DATE_BLOCK{padding-left:7px;background:url(../images/ARROW_2.gif) no-repeat left 6px;font-weight:700}
.support_online h3{background:#efefef;font-size:1em;color:#000!important;line-height:32px;padding:0 0 0 10px}
.support_online p{display:block;position:relative;line-height:18px;padding-left:10px;text-decoration:none;color:#386b9;padding-top:10px;font-size:.9em}
.support_online a{float:left;margin-right:7px}
/***sub-1**/
@charset utf-8;
.logo-1{width:200px;height:50px;line-height:50px;margin-top:15px}
.logo-1 img{max-width:100%}
.wrapper-bg{background:#efcbcf}
.ct-in{background:#FFF}
.font-bold-sub{font-weight:700}
.ct-in h1{color:#eb3285;padding-bottom:7px;border-bottom:1px solid #eb3285;margin-bottom:10px;text-transform:uppercase}
a.view-more-1{color:#eb3185!important;float:right;font-size:.7em;margin-top:3px;background:url(../images/xem-them_03.gif) no-repeat 0 4px;padding-left:8px;text-decoration:none}
a.view-more-1:hover{color:#ff670f}
.price-promo-1{color:#eb3185;font-size:1em;font-weight:700;text-align:center}
.price-cancel-1{text-decoration:line-through;text-align:center;color:#ababab;font-weight:400;font-size:.8em}
.nav-menu-1{height:38px;line-height:38px;background:#320001;margin:0;padding:0}
.nav-menu-1 li a.actived{background:#f08893}
.nav-menu-1 li a{height:38px;line-height:38px;color:#FFF;padding:0 20px}
.nav-menu-1 li a:hover{background:#f08893;text-decoration:none}
.list-hori-sp{position:absolute;z-index:5;bottom:7px;left:0;margin:0;padding:0}
.list-hori-sp li a{width:165px;height:335px;border:none;margin-right:7px;background:#FFF;padding:10px}
.list_promo_thumbnail-sub{margin-left:75px;padding:0}
.list_promo_thumbnail-sub li{list-style:none;position:relative;width:171px;float:left;border:1px solid #eee;height:345px;margin-bottom:10px;margin-right:10px;padding:10px}
.list_promo_thumbnail-sub li:nth-child(4n){margin-right:0!important}
.list_promo_thumbnail-sub .color-pink{color:#eb3185}
.list_promo_thumbnail-sub A{font-size:.8em}
.list_promo_thumbnail-sub p{margin-top:5px;text-align:center;line-height:20px;padding:0 10px 0 15px}
.list_promo_thumbnail-sub h3{color:#e47911;text-align:center}
.thumb-promo-sub{height:214px;line-height:214px;text-align:center;position:relative}
.control-left{position:absolute;left:0;top:172px}
.control-right{position:absolute;right:0;top:172px}
.icon-21x30{display:block;width:21px;height:30px;background:url(../images/arrow-sub.png) no-repeat}
.left-arrow{background-position:0 0}
.right-arrow{background-position:0 -30px}
.btn-mua-1{background:url(../images/btn-promotion.gif) no-repeat left top;width:69px;height:19px;display:inline-block}
.nav-menu-1 li,.list-hori-sp li{position:relative;list-style:none}
.nav-menu-1 li,.nav-menu-1 li a,.list-hori-sp li,.list-hori-sp li a{float:left}
/* extra/style-label-2 */
@charset "utf-8";
/* CSS Document */
.col-label-1-style2,.col-label-2-style2,.col-label-3-style2{width:234px; margin-right:10px; margin-bottom:10PX}
.col-label-4-style2{width:244px; margin-bottom:10PX}
.col-label-5-style2,.col-label-6-style2,.col-label-7-style2{width:234px; margin-right:10px; margin-bottom:10PX}
.col-label-8-style2{width:244px; margin-bottom:10PX}
img.label{ float:left;width:60px;vertical-align:middle; margin-top:10px; overflow:hidden}
h2.label {  color:#3d81c9; margin-top:10px; margin-left:10px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; text-transform:uppercase; padding-left:70px}
.col-txt-label{padding-left:70px; background:#f0f0f0; height:80px}
.col-txt-label span{ display:block; font-size:0.7em; padding-left:10px;color:#646464; padding-top:5px; padding-bottom:5px; height:25px;text-overflow: ellipsis;overflow:hidden; -o-text-overflow: ellipsis;/* bug for Firefox*/-moz-binding: url( '../bindings.xml#ellipsis' ); /* bug for Firefox*/}
.col-txt-label small{ text-decoration:line-through; color:#999999; display:block;  padding-left:10px; padding-bottom:5px;}
.col-txt-label big{font-weight:bold; display:block; padding-left:10px; font-size:0.9em}
.col-txt-label a.text-label{ display:inline-block;padding-left:10px; font-size:0.7em; position:relative; margin-top:5px; padding-right:10px; color:#9d9d9d; text-decoration:underline}
.col-txt-label a.text-label:hover{ color:#ff670f}
/* search */
.search-filed{ float:left; width:430px}
.nav-sprite {background-image:url(../images/bg-search.png);}
#nav-search-in{display:inline-block;position:absolute;left:1px;top:3px;height:27px;overflow:hidden;background-position:-10px 0px;background-repeat:no-repeat;border-right:1px solid #ddd}
#nav-search-in .nav-down-arrow{background-position:0px 0px; background-image:url(../images/drop.gif); width:6px; height:4px;}
#nav-search-in.active .nav-down-arrow{background-position:0px 0px; background-image:url(../images/drop.png); }
#nav-search-in.focus .nav-down-arrow{background-position:0px -0px; background-image:url(../images/drop-status.png); }
span#nav-search-in.nav-facade-active.active{background-position:-10px -432px}/* active when hover dropdown*/
span#nav-search-in.nav-facade-active.focus{border-right:1px solid #2b3540;background-position:-8px -398px;}/* focus when choose dropdown*/
#nav-search-in.focus span#nav-search-in-content{color:white}
#nav-search-in #nav-search-in-content,#nav-search-in .nav-down-arrow{display:none}
#nav-search-in #nav-search-in-content{display:inline-block;color:#777;font-size:11px;white-space:nowrap;font-family:arial,sans-serif;height:27px;padding:0 30px 0 7px;line-height:27px}
#nav-search-in.focus #nav-search-in-content,#nav-search-in.active #nav-search-in-content{color:black}
#nav-search-in.nav-facade-active .nav-down-arrow{display:block;right:10px;top:11px}
.nav-submit-button{position:absolute;right:0;top:0;height:34px;overflow:hidden;background-position:-33px -120px;padding:0 0 0 3px;margin:0}
.nav-submit-button .nav-submit-input{width:51px;height:34px;padding:0;margin:0;background:0;border:0;cursor:pointer;font-weight:bold;color:white;line-height:12px;font-size:13px;font-family:arial,sans-serif}
.nav-down-arrow{display:block;width:9px;height:5px;font-size:0;line-height:0;position:absolute;background-position:-130px -50px}
.nav_exposed_sbd #nav-shop-all-button .nav-down-arrow,.nav-menu-inactive .nav-down-arrow{display:none}
.nav-menu-active .nav-down-arrow{bottom:10px;right:8px}
.nav-button-outer-open .nav-down-arrow{background-position:-130px -60px}
.nav-shop-all-button .nav-down-arrow{display:none}
#nav-search-label{position:absolute;left:177px;top:22px;font-weight:bold;color:#333;display:block;line-height:12px;font-family:arial,sans-serif}
#searchDropdownBox{font-family:arial,sans-serif;position:absolute;left:5px;top:3px;margin:0;padding:0;border:1px solid #ddd;color:black;background: none repeat scroll 0 0 white;outline:0;width:190px;visibility:hidden;}
.nav-facade-active #searchDropdownBox{opacity:0;filter:alpha(opacity=0);left:0;top:0;height:29px;cursor:pointer;visibility:visible;width:auto}
.nav-searchbar-inner{margin:0px 10px 0 10px;height:34px;position:relative;display:block;}
.nav-searchfield-outer{height:34px;margin-right:39px;padding-left:5px;background-position:-10px -120px;background-repeat:no-repeat ;}
#nav-iss-attach{height:33px;padding:0 0 0 5px; padding-left:90px}
.nav-searchfield-inner{height:34px;background-color:white;background-position:0 -466px;background-repeat:repeat-x}
#twotabsearchtextbox{margin:5px 0 0 0;padding:0;width:100%;height:23px;border:0;font-family:arial,sans-serif;font-size:12pt;background: none repeat scroll 0 0 transparent;color:black;outline:0;-webkit-appearance:none;}
.nav-searchfield-width{padding:0 195px 0 2px;}
/* grid-pr */
@charset "utf-8";
/* CSS Document */
/* product colum ===============*/
.col-pr1{ margin-right:10px}
.col-pr2{ margin-right:10px}
.col-pr3{ margin-right:10px}
.col-pr4{}
.col-pr5{ margin-right:10px}
.col-pr6{ margin-right:10px}
.col-pr7{ margin-right:10px}
.col-pr8{}
.col-pr9{ margin-right:10px}
.col-pr10{ margin-right:10px}
.col-pr11{ margin-right:10px}
.col-pr12{}
/* label colum ===============*/
.col-label-1{ width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-2{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-3{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-4{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-5{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-6{width:171px;border-bottom:1px solid #e5e5e5;}
.col-label-7{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-8{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-9{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-10{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-11{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5}
.col-label-12{width:171px;border-bottom:1px solid #e5e5e5;}

/* product colum in bottom for slide ===============*/
.col-pr1-sc-bt{ margin-right:10px; margin-left:10px}
.col-pr2-sc-bt{ margin-right:10px}
.col-pr3-sc-bt{ margin-right:0px}
.col-pr4-sc-bt{ display:none !important}
.col-pr5-sc-bt{ margin-right:10px}
.col-pr6-sc-bt{ margin-right:10px}
.col-pr7-sc-bt{ margin-right:10px}
.col-pr8-sc-bt{}
/* brand colum ===============*/
.col-br1{}
.col-br2{}
.col-br3{}
.col-br4{}
.col-br5{}
.col-br6{}
.col-br7{}
.col-br8{}
.col-br9{}
.col-br10{}
.col-br11{}
.col-br12{}
/* product colum relative===============*/
.col-pr1-rela{ margin-right:8px}
.col-pr2-rela{ margin-right:8px}
.col-pr3-rela{ margin-right:8px}
.col-pr4-rela{ margin-right:8px}
.col-pr5-rela{}
/* label-cata colum ===============*/
.col-label-1-cata-submain{ width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-align:right}
.col-label-2-cata-submain{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-align:right}
.col-label-3-cata-submain{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-align:right}
.col-label-4-cata-submain{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5;; text-align:right}
.col-label-5-cata-submain{width:140px;border-bottom:1px solid #e5e5e5; border-right:none; overflow:hidden; text-align:right}
.col-label-6-cata-submain{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-align:right}
.col-label-7-cata-submain{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-align:right}
.col-label-8-cata-submain{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-align:right}
.col-label-9-cata-submain{width:161px;border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-align:right}
.col-label-10-cata-submain{width:140px;border-bottom:1px solid #e5e5e5; border-right:none;overflow:hidden; text-align:right}
/* label-cata-in promotion colum ===============*/
.col-label-1-cata,.col-label-2-cata,.col-label-3-cata,.col-label-4-cata{ width:149px; overflow:hidden;border:1px solid #e5e5e5; margin-right:10px; margin-bottom:10px}
.col-label-5-cata{width:149px; overflow:hidden;border:1px solid #e5e5e5; margin-bottom:10px}
.col-label-6-cata,.col-label-7-cata,.col-label-8-cata,.col-label-9-cata{width:149px; overflow:hidden;border:1px solid #e5e5e5; margin-right:10px;}
.col-label-10-cata{width:149px; overflow:hidden;border:1px solid #e5e5e5; margin-bottom:10px}

#goTop{
    background: url("../gotop.png") no-repeat scroll 0 0 transparent;
    bottom: 1px;
    display: none;
    height: 57px;
    position: fixed;
    right: 10px;
    width: 73px;
    cursor: pointer;
}

#rightcontainerBox {
    border:1px solid #808080;
    border-radius:5px 5px 5px 5px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.3);float:right;
    position: fixed;
    top:25%;
    padding-right: 3px;
    right:1px;
    z-index:2;
    background-color:#FFF
}

#rightcontainerBox .buttons {
    float:left;
    clear:both;
    margin:4px 4px 4px 4px;
    padding-bottom:2px;
}

/* register form */
.register-button { width: 175px; height: 108px; background: url(../title.png) 0 0 no-repeat; cursor: pointer; position: fixed; left: 0; bottom: 0; z-index: 9999; }
.register-form { width: 263px; height: 261px; background: url(../bg-reg.png) 0 0 no-repeat; position: fixed; left: 0; bottom: 0; z-index: 998; }
.register-form  .btn-close { overflow:hidden; padding: 40px 13px 0 0; margin: 0 0 40px 0; }
.register-form  .btn-close a { display: block; width: 10px; height: 9px; background: url(../btn-close.gif) 0 0 no-repeat; float: right; overflow: hidden; text-indent: -999em;}
.register-form-inner { width: 213px; padding: 0 30px 0 20px; }
.popcontainer {font-family:Arial, Helvetica, sans-serif; font-size:12px; width: 213px; padding: 2px  0 0 0; }
.popcontainer .inputbox {margin: 0 0 7px 0; background: #fff; border: 1px solid #c3c3c3; padding: 3px; width:213px; font-size: 11px; color:#000; }
.popcontainer select { margin: 0 0 5px 0; border: 1px solid #c3c3c3; padding: 3px; width: 213px; font-size: 11px; color:#000; }
.popcontainer textarea { margin: 0 0 7px 0; border: 1px solid #c3c3c3; padding: 3px; width: 213px; font-size: 11px; color:#000; height: 48px; }
.popcontainer .inputbox:focus, .popcontainer select:focus {color:#333}
.popcontainer p { margin: 0 0 5px; }
.popcontainer .error2 {color:#f00; font-style:italic; font-size: 11px; }
.popcontainer .button,
.tracking-order .button {
    border: none;
    background-color: #f87c12;
    color: #fff;
    font-weight: bold;
    width: 88px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 25px;
    cursor: pointer;
    float: right;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fb9d38), to(#f87c12));
    background: -webkit-linear-gradient(top, #fb9d38, #f87c12);
    background: -moz-linear-gradient(top, #fb9d38, #f87c12);
    background: -ms-linear-gradient(top, #fb9d38, #f87c12);
    background: -o-linear-gradient(top, #fb9d38, #f87c12);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 1px;
}


.aCua {
    background:url(../images/cua.gif) no-repeat;
    float: left;
    width: 40px;
    height: 36px;
    border: 1px solid #CECECE;
}

.aMucKho {
    background:url(../images/muc_kho.gif) no-repeat;
    float: left;
    width: 40px;
    height: 36px;
    border: 1px solid #CECECE;
}
.aTomKho {
    background:url(../images/tom_kho.gif) no-repeat;
    float: left;
    width: 40px;
    height: 36px;
    border: 1px solid #CECECE;
}
.aMatOng {
    background:url(../images/mat_ong.gif) no-repeat;
    float: left;
    width: 40px;
    height: 36px;
    border: 1px solid #CECECE;
}

.SpecialDes {
    float: left;
    width: 117px;
    margin-left: 3px;
    line-height: 18px;
}
.SpecialBox {
    height: 36px; line-height: 12; margin: 8px;
}
.SpecialBox p {
    font-size: 11px;
}

div.TextNote {
    text-align:left;
    font-size:10px;
    __color:#F00;
    font-style:italic;
    padding:0 0 0 144px;
    margin-top: -10px;
}
div.TextNote .success{
    color:#00F;
}
div.TextNote .fail{
    color:#F00;
}

.top-commit{ background:url(../top-commit.png) no-repeat; display:block; float:left}
.ui-newsletter-block{ width:786px; height:56px; position:relative; margin-bottom:10px}
.ui-btn-newsletter{background:url(../images/regis-newsletter.png) no-repeat; background-position:0px 0px; width:91px; height:33px; position:absolute; right:13px; top:12px }
.ui-btn-newsletter:hover{background:url(../images/regis-newsletter.png) no-repeat; background-position:0px -40px;}
.clear {clear: both;margin-bottom: 7px;}